<mat-grid-list cols="12" rowHeight="52px">
  <mat-grid-tile [colspan]="12"  [rowspan]="1" >
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="home"></mat-icon>
    <header></header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"  [rowspan]="12" >
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="home"></mat-icon>
    Home
  </mat-grid-tile>
  <mat-grid-tile [colspan]="11"  [rowspan]="12" >
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="home"></mat-icon>
    Home
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5"  [rowspan]="1" >
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="home"></mat-icon>
    Home
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4"  [rowspan]="1" >
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="home"></mat-icon>
    Home
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3"  [rowspan]="1" >
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="home"></mat-icon>
    Home
  </mat-grid-tile>
</mat-grid-list>
